@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

header {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

header h1 {
  font-family: "Secular One", sans-serif;
  font-size: 85px;
  margin: 0;
}

header p {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding: 1rem 3rem;
  margin: 0;
}

.game-one {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 135px;
  grid-auto-rows: 135px;
  margin: 0 auto;
  width: 405px;
}

.game-one .one, .game-one .two, .game-one .three,
.game-one .four, .game-one .five, .game-one .six,
.game-one .seven, .game-one .eight, .game-one .nine {
  background-color: #fff;
  border: 2px solid aliceblue;
  border-radius: 5px;
  font-family: "Bangers", cursive;
  font-size: 100px;
  line-height: 135px;
  text-align: center;
}

.game-one .one:hover, .game-one .two:hover, .game-one .three:hover,
.game-one .four:hover, .game-one .five:hover, .game-one .six:hover,
.game-one .seven:hover, .game-one .eight:hover, .game-one .nine:hover {
  background-color: aliceblue;
}

.game-one .one, .game-one .two, .game-one .three {
  -ms-grid-row: 1;
  grid-row: 1;
}

.game-one .four, .game-one .five, .game-one .six {
  -ms-grid-row: 2;
  grid-row: 2;
}

.game-one .seven, .game-one .eight, .game-one .nine {
  -ms-grid-row: 3;
  grid-row: 3;
}

.game-one .one, .game-one .four, .game-one .seven {
  -ms-grid-column: 1;
  grid-column: 1;
}

.game-one .two, .game-one .five, .game-one .eight {
  -ms-grid-column: 2;
  grid-column: 2;
}

.game-one .three, .game-one .six, .game-one .nine {
  -ms-grid-column: 3;
  grid-column: 3;
}

.btn-reset {
  color: #fff;
  background-color: #24DBA4;
  border: #24DBA4;
  font-weight: bold;
  padding: 1rem;
  text-transform: uppercase;
}

.btn-reset:hover {
  background-color: #24aab1;
}

.score-board {
  width: 405px;
  height: 405px;
  margin: 0 auto;
  background-color: #fff;
}

.score-board h4 {
  background-color: #42B4f5;
  font-family: "Bangers", cursive;
  font-size: 45px;
  font-weight: bold;
  padding: 1rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.score-board p {
  font-family: "Bangers", cursive;
  font-size: 30px;
  margin-bottom: 0;
  padding: 1rem;
  text-align: center;
}

.score-board img {
  display: none;
  margin: 0 auto;
  width: 94px;
}

.score-board .player-1-score, .score-board .player-2-score {
  font-family: "Secular One", sans-serif;
  font-size: 100px;
  text-align: center;
}

.player-1, .player-2, .game-over {
  pointer-events: none;
}

footer {
  background-color: #24242466;
  bottom: 0px;
  color: #fff;
  font-family: "Secular One", sans-serif;
  font-size: 20px;
  padding: 1rem 0;
  position: relative;
  margin-top: 60px;
  text-align: center;
  width: 100%;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer:hover, footer a:hover {
  color: lightblue;
}

footer i {
  margin: 5px;
}

@media (max-width: 992px) {
  header {
    padding: 80px;
  }
  .game-one {
    grid-auto-columns: 250px;
    grid-auto-rows: 250px;
    width: 750px;
  }
  .game-one .one, .game-one .two, .game-one .three,
  .game-one .four, .game-one .five, .game-one .six,
  .game-one .seven, .game-one .eight, .game-one .nine {
    font-size: 250px;
    line-height: 250px;
  }
  .score-board {
    width: 750px;
    min-height: 750px;
  }
  .score-board h4 {
    font-size: 100px;
  }
  .score-board p {
    font-size: 80px;
  }
  .score-board img {
    width: 150px;
  }
  .score-board .player-1-score, .score-board .player-2-score {
    font-size: 150px;
    text-align: center;
  }
  .btn-reset {
    width: 750px;
    font-size: 60px;
    margin: 60px auto;
  }
  footer {
    font-size: 35px;
  }
}
/*# sourceMappingURL=style.css.map */